.noSnacksMessage {
  margin: 0 auto;
  width: 60%;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

button {
  all: unset;
}

.container {
  position: relative; /* Set the container to relative positioning */
}

.formBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formPrimaryInputs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.formSearchBar {
  display: flex;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.formSecondaryInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}

.taskInput {
  width: 100%;

  border: none;
  outline: none;
  background: #fff;
  color: #222222;

  padding: 16px 0px 16px 16px;
}
.subInput {
  width: 70%;
  border: none;
  outline: none;
  background: #ffffffcc;
  color: #222222;
  padding: 10px 16px;
}
.subInput:nth-child(1) {
  border-right: 1px solid hwb(0 13% 87% / 0.5);
  border-radius: 15px 0px 0px 15px;
  flex: 1;
}
.subInput:nth-child(1):focus {
  background: hsla(0, 0%, 100%);
}
.subInput:nth-child(2) {
  border-radius: 0px 15px 15px 00px;
  flex: 4;
}
.subInput:nth-child(2):focus {
  background: hsla(0, 0%, 100%);
}

.subInputEdit {
  background: hsla(0, 0%, 100%);
}

.buttonAdd {
  /* align-self: flex-end; */
  /* position: absolute; */
  border: none;
  outline: none;
  padding: 16px 20px;
  background: -o-linear-gradient(315deg, #00fee5, #6f47ae);
  background: linear-gradient(135deg, #00fee5, #6f47ae);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 15px 15px 00px;
}
.buttonAdd i {
  margin-top: 40%;
  margin-right: 30%;
}

.snacksList {
  padding: 0px;
  margin: 0 auto;
}

.buttonComplete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  /* margin: 2px 2px; */
  margin: 0px 10px;
  border-radius: 50%;
}

.buttonComplete {
  display: flex;
  /* position: absolute; */

  color: #fff;

  border: 3px solid #00fee5;
  /* transform: translateY(45%) translateX(-120%); */
}
.buttonComplete:active {
  background-color: #800080;
  color: #fff;
  border: 3px solid #800080;
}

.snackContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.snack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 0px;
  list-style: none;
  border-bottom: 1px solid #ffffff18;
}

.leftContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.snackTitle {
  max-width: 30ch;
}

.snacksInfo {
  font-size: 12px;
  max-width: 30ch;
  color: #cccccc;
  font-style: italic;
}

.snackPrice,
.snackLocation {
  /* padding: 0px 5px; */
}

.SnackButtonContainer {
  width: auto;
  position: relative;
  padding: 6px;
  margin: 0px 10px;
  /* left: -8%; */
}

.completed {
  /* text-decoration: line-through; */
  color: #800080;
}

.completedButton {
  color: #800080;
  border: 3px solid #800080;
}

.completed .snacksInfo {
  color: #800080;
}

.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingMessage i {
  padding: 5px;
}

.resultsList {
  position: absolute;
  width: 100%;
  left: 0;

  background: #ffffff;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 8px #ddd; */
  border-radius: 10px;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: scroll;
  color: #000;
  /* left: 0; */
  z-index: 2;
}

.resultsList .loadingMessage {
  padding: 00px 20px;
  justify-content: flex-start;
  color: #000;
}

.filterResultsList {
  position: absolute;
  top: 9.5em;
  width: 5em;
  right: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 8px #ddd; */
  border-radius: 10px;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: scroll;
  color: #000;
  /* position: absolute; */
  /* left: 0; */
  z-index: 2;
}

.filterResultsList li {
  padding: 8px;
  cursor: pointer;
}

.filterResultsList li:hover {
  background-color: #f1f1f1;
}

.snacksContainer {
  /* margin-top: 10px; */
  min-height: 400px;
  max-height: 500px;
  overflow: scroll;
}

.searchResult {
  padding: 10px 20px;
  border-bottom: 1px solid #ffffff18;
}

.searchResult:hover {
  background-color: #ececec;
}

.searchResult:active {
  background-color: #4f4f4f;
  color: #fff;
}

.searchManualAdd {
  border-bottom: 2px solid #4f4f4f;
}

.searchManualAdd p {
  color: #000;
  margin: 0 auto;
}

.resultItemTitle {
  font-size: 14px;
}

.resultItemPrice {
  padding-left: 10px;
  font-size: 12px;
  color: #b0b0b0;
}

.resultRestaurantInfo {
  padding-left: 5px;
  font-size: 12px;
  color: #b0b0b0;
}

.resultParkInfo {
  padding-left: 5px;
  font-size: 12px;
  color: #b0b0b0;
}

.resultsList {
  display: none; /* Hide by default */
}

.resultsList.open {
  display: block; /* Show when open class is applied */
}

.clearButton {
  display: flex;
  background-color: #fff;
  align-items: center;
}

.clearButton i {
  margin-right: 10px;
}

.clearButton i {
  padding: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

.clearButton i:hover {
  color: rgba(255, 0, 0, 0.5);
}

.filters {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  cursor: pointer;
}

.checkbox {
  display: flex;

  align-items: center;
  padding: 5px 5px;
}
.checkbox > * {
  padding: 5px;
}

.checkbox input {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: 0px;

  accent-color: #2196f3;
}

.ratingContainer {
  display: flex;
  justify-content: flex-start;
}

.ratingContainer p {
  margin: 0;
  font-size: 14px;
}

.ratingLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5em;
}

.ratingRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stars {
  margin-top: 0.25em;
  color: #ffd43b;
}

.submitButton {
  border: 3px solid #ffd53d;
  font-weight: bold;
  padding: 0.2em 1em;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  /* background-color: hsla(47, 100%, 62%, 0.8); */
}

.submitButton:active {
  background-color: #ffd53d;
  color: #393939;
}

.skipButton {
  margin-top: 0.25em;
  font-size: 12px;
  color: #daefda;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popupTopSection {
  background: var(--modalgradient);
  width: calc(100% + var(--main-padding) * 2);
  margin: -20px -20px 0 -20px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.popup h2 {
  margin-top: 0;
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup input::placeholder {
  color: hsla(0, 0%, 100%, 0.9);
  text-shadow: none;
  text-align: left;
}

.popup input {
  border: 0px;
  box-sizing: border-box;
  padding: 0.8em;
  background: #bababa;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

.popupButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popupButtons button {
  padding: 5px 10px;
}

.saveButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #007bff;
  color: white;
  margin-right: 10px;
}

.saveButton:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #ccc;
}

.cancelButton:hover {
  background-color: #999;
}



.snacklistCategories {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.snackListOption {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}


.filterResultsList {
  width: 70%;
  padding: 0px;
}

.filterResultsList li {
  list-style: none;
  padding: 0.5em;
}

.filterOption {
  padding-left: 10px;
}

.parkFilterCheckbox {
  margin-right: 1em;
}

.SnacklistNav {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snackDropdownAddTitle{
display: flex;
justify-content: flex-start;
gap: 5px;

padding: 0px ;

}

.snackDropdownAddTitle p{
  margin: 0;
  padding: 0px ;
  
  }

.snackDropdownAddTitle p:nth-child(2){
  font-style: italic;
}