:root {
  --main-padding: 20px;
}

main {
  padding: var(--main-padding);
}

/* HOME */

.noTrips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  margin: 0 auto;
  text-align: center;
}

.startTripButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.startTripButton:hover {
  background-color: #0056b3;
}

.justLookingButton {
  margin-top: 0.3em;
  color: rgba(255, 255, 255, 0.8);
}

.justLookingButton:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.setupModal {
  position: absolute;
  z-index: 1;
}

.card {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.textGradient {
  background: -webkit-linear-gradient(#e6ebed, #0d9fc7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardContainers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  z-index: 0;
}

.titleBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1 * var(--main-padding));
  grid-column: span 2;
  margin: 0 auto;
}

.behindNavbar {
  position: relative;
  top: -877px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  flex-shrink: 0;
  z-index: 0;
}

.countdownBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
  flex: 1;
}

.weatherBar {
  grid-row: 2;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.openingTimesBar {
  grid-row: 3;
  grid-column: span 2;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.snacksBar {
  grid-row: 4;
  grid-column: span 2;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.waitTimesBar {
  grid-row: 5;
  grid-column: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waitTimesNav {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itineraryBar {
  grid-row: 6;
  grid-column: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PROFILE */

.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  /* margin: 0 auto; */
  text-align: center;
  width: 100%;
}

.profileAvatar {
  width: 200px;
  /* height: 100px; */
}

.profileDisplayName {
  margin: 0 auto;
}

.appLogout {
}

.appLogout span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.memberStatusRoleContainer {
  padding: 2px 10px;
  background-color: rgba(232, 131, 8, 0.8);
  /* background-color: rgba(19, 79, 198, 0.8); */
  border-radius: 50px;
  margin: 0.5em 0;
}

.memberStatusRole {
  margin: 0;
}

.memberStatusRole::before {
  content: attr(data-label);
  margin: 0;
  display: inline-block;
  color: white; /* Optional: set the color to make the text visible */
}

.memberStatusDate {
  font-size: 0.8em;
  margin: 0 auto;
}

.profileStats {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ffffff18;
}
