.navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
  background-color: #333; /* Background color for the navbar */
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 0px 0 20px 20px;
  background: rgba(255, 255, 255, 0.3); 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 100%; */
}

.navbarLinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  color: #000; /* Ensure text color is visible */
  cursor: pointer;
}

.navbarLinks li {
  position: relative;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarLinks li i {
  transition: animation 5s ease-out;
  padding: 10px;
}

.navbarLinks .navSettings i:hover {
  animation: cogRotate 2s linear infinite;
}

@keyframes cogRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar.expand {
  height: 50px; /* Full height */
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar.shrink {
  height: 20px; /* Shrunk height */
  padding: 5px 20px; /* Adjust padding as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow when scrolled */
}

.profileContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.profilePicture {
  border-radius: 50%;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for resizing */
}

.navbar.expand .profilePicture {
  width: 40px;
}

.navbar.shrink .profilePicture {
  width: 20px; /* Smaller size when navbar is shrunk */
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown {
  position: absolute;
top: 100%; 
right: 0px;
  background: rgba(78, 8, 95, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  white-space: nowrap; 
}


.dropdown p {
  padding: 10px 15px;
  margin:  0 auto;
  cursor: pointer;


}

.dropdown p:not(:last-child) {
  border-bottom: 1px solid #ffffff18;
}

.dropdown p:hover {
  background-color: rgba(21, 54, 119, 0.7);
  
}

.icon {
  transition: font-size 0.3s ease; /* Smooth transition for resizing */
  color: #fff;
}

.navbar.expand .icon {
  font-size: 1.5em; /* Full size */
}

.navbar.shrink .icon {
  font-size: 1em; /* Smaller size when navbar is shrunk */
}


/* SLIDER NAV STYLES */


/* SECONDARY NAV STYLES */
/* SecondaryNavbar.module.css */
.secondaryNav {
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  /* margin-bottom: 1em; */
  scrollbar-width: none; /* For Firefox */
}

.secondaryNav::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.sliderBackground {
  position: absolute;
  height: 100%;
  pointer-events: none;
}

.sliderPill {
  position: absolute;
  inset: 0;
  /* background-color: #EEF2FF; */
  border: 3px solid #EEF2FF;
  border-radius: 9999px;

}

.navCategories {

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 4px; */
  margin: 0;
  padding: 0;
  list-style: none;
}



.navOption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: 9999px;
  color: #ccccccd6;
  transition: color 0.2s ease;
  cursor: pointer;
  margin: 0em .5em;

}

.navOption:hover {
color: hsl(211, 48%, 78%);
  transition: ease-in-out 0.1s;

}

.navOption.active {
  color: #fff;
  font-weight: bold;
}



.navOption:hover i , .activeIcon {
  color: rgb(253, 75, 75); } 


  .itemCount {
    color: #cccccc;
    font-size: .8em;
    margin-left: .5em;
  }