.countdown-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;

}

.countdownNumber {
  font-weight: bold;
  font-size: 4em;
  margin: auto 0;

  /* margin-right: 0.5em; */
}

.countdownMessage {

  color: #ffffff;
  font-size: 1em;
  margin: auto 0;
}
