.countdown-bar p {
  font-family: "poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: var(--light-color);
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  /* padding: 0px 0px 00px 0px; */
}
