
.noSnacksMessage {
  margin: 0 auto;
  width: 60%;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

button {
  all: unset;
}
.formBar {

  display: flex;
  justify-content: center;
}

.taskInput {
  width: 70%;
  /* flex: 1; */
  border: none;
  outline: none;
  background: #fff;
  color: #444428;
  /* margin-left: 5px; */
  padding: 16px;
  border-radius: 40px 0px 0px 40px;
}

.buttonAdd {
  /* align-self: flex-end; */
  /* position: absolute; */
  border: none;
  outline: none;
  padding: 16px 20px;
  background: -o-linear-gradient(315deg, #00fee5, #6f47ae);
  background: linear-gradient(135deg, #00fee5, #6f47ae);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 40px 40px 00px;
}
.buttonAdd i {
margin-top: 40%;
margin-right: 30%;


}

.snacksList {
  overflow: hidden;
}



.buttonComplete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 2px 2px;
  border-radius: 50%;
}


.buttonComplete {
  display: flex;
  position: absolute;

  color: #fff;

  border: 3px solid #00fee5;
  transform: translateY(15%) translateX(-120%);
  /* left: 10px; */

}
.buttonComplete:active {
  background-color: #800080;
  color: #fff;
  border: 3px solid #800080;
}



.snack {
  position:static;
  display: flex;
  justify-content: space-between;

  color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  padding-left: 10px;
  z-index: 0;
  border-bottom: 1px solid #ffffff18;
  list-style: none;
}

.SnackButtonContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
left: -8%;
}

.completed {
  text-decoration: line-through;
  color: #800080;

}

.completedButton {
  color: #800080;
  border: 3px solid #800080;
}










.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingMessage i {
  padding: 5px;
}