
.noSnacksMessage {
  margin: 0 auto;
  width: 60%;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

button {
  all: unset;
}
.formBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formPrimaryInputs {
  display: flex;
  flex-direction: row;
}
.formSecondaryInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.taskInput {
  width: 100%;

  border: none;
  outline: none;
  background: #fff;
  color: #222222;
 
  padding: 16px 0px 16px 16px;
  border-radius: 40px 0px 0px 40px;
}
.subInput {
  width: 70%;
  border: none;
  outline: none;
  background: #ffffffcc;
  color: #222222;
  padding: 10px 16px;


}
.subInput:nth-child(1) {
  border-right: 1px solid hwb(0 13% 87% / 0.5);
  border-radius: 40px 0px 0px 40px;
flex: 1;
}
.subInput:nth-child(1):focus {
  background: hsla(0, 0%, 100%);
}
.subInput:nth-child(2) {
  border-radius: 0px 40px 40px 00px;
  flex: 4;
}
.subInput:nth-child(2):focus {
  background: hsla(0, 0%, 100%);
}

.subInputEdit {
  background: hsla(0, 0%, 100%);
}

.buttonAdd {
  /* align-self: flex-end; */
  /* position: absolute; */
  border: none;
  outline: none;
  padding: 16px 20px;
  background: -o-linear-gradient(315deg, #00fee5, #6f47ae);
  background: linear-gradient(135deg, #00fee5, #6f47ae);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 40px 40px 00px;
}
.buttonAdd i {
margin-top: 40%;
margin-right: 30%;


}

.snacksList {
  overflow: hidden;
}



.buttonComplete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 2px 2px;
  border-radius: 50%;
}


.buttonComplete {
  display: flex;
  position: absolute;

  color: #fff;

  border: 3px solid #00fee5;
  transform: translateY(45%) translateX(-120%);

}
.buttonComplete:active {
  background-color: #800080;
  color: #fff;
  border: 3px solid #800080;
}

.snackContainer{
  display: flex;
  flex-direction: column;
}

.snack {
  position:static;
  display: flex;
  justify-content: space-between;

  color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  padding-left: 10px;
  z-index: 0;
  border-bottom: 1px solid #ffffff18;
  list-style: none;
}

.snackTitle{
/* font-weight: bold; */
}

.snacksInfo
  {
  font-size: 12px;
  color: #cccccc;
  font-style: italic;
}

.snackPrice, .snackLocation {
/* padding: 0px 5px; */

}

.SnackButtonContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
left: -8%;
}

.completed {
  text-decoration: line-through;
  color: #800080;

}

.completedButton {
  color: #800080;
  border: 3px solid #800080;
}

.completed .snacksInfo  {
  color: #800080;
}








.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}



.loadingMessage i {
  padding: 5px;
}


.resultsList {
width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 8px #ddd; */
  border-radius: 10px;
  margin-top: 5px;
  max-height: 400px;
  overflow-y: scroll;
  color: #000;
  /* position: absolute; */
  /* left: 0; */
  z-index: 2;

}

.resultsList .loadingMessage {  
  padding: 00px 20px;
 justify-content: flex-start;
  color: #000;}

.searchResult {

  padding: 10px 20px;
  border-bottom: 1px solid #ffffff18;

}

.searchResult:hover{
  background-color: #fff;
}
.resultItemTitle {
  font-size: 14px;
}


.resultRestaurantInfo
  {
    padding-left: 10px;
  font-size: 12px;
  color: #b0b0b0;
  /* font-style: italic; */
}
.resultsList {
  display: none; /* Hide by default */
}

.resultsList.open {
  display: block; /* Show when open class is applied */
}


.clearButton {
  display: flex;
  background-color: #fff;
  align-items: center;

}

.clearButton i{
  padding: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

.clearButton i:hover{
  color: rgba(255, 0, 0, 0.5);
}