/* .snackList {
  box-sizing: border-box;
} */

.formContainer{
  /* width: 100%; */
  /* overflow: hidden; */
}

.noSnacksMessage {
  margin: 0 auto;
  width: 60%;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

button {
  all: unset;
}
.formBar {
  box-sizing: border-box;
  /* width: auto; */
  display: flex;
  justify-content: center;
}

.taskInput {
  /* flex: 1; */
  border: none;
  outline: none;
  background: #fff;
  color: #444428;
  /* margin-left: 5px; */
  padding: 16px;
  border-radius: 40px 0px 0px 40px;
}

.buttonAdd {
  /* align-self: flex-end; */
  /* position: absolute; */
  border: none;
  outline: none;
  padding: 16px 20px;
  background: -o-linear-gradient(315deg, #00fee5, #6f47ae);
  background: linear-gradient(135deg, #00fee5, #6f47ae);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 40px 40px 00px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.snack li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* width: 200px; */
}

.waitRow > * {
  text-align: center;
}

li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/assets/checkbox-blank-circle-line.svg);
  background-size: cover;
  background-position: center;
  /* top: 8px; */
  left: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonComplete,
.buttonEdit,
.buttonDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 2px 2px;
  border-radius: 50%;
}

.buttonComplete {
  color: #2f582f;
  background-color: #79de79;
}
.buttonEdit {
  color: #444428;
  background-color: #fcfc99;
}
.buttonDelete {
  color: #401a18;
  background-color: #fb6962;
}

.buttonComplete:active {
  background-color: #2f582f;
  color: #79de79;
}
.buttonEdit:active {
  background-color: #444428;
  color: #fcfc99;
}
.buttonDelete:active {
  background-color: #401a18;
  color: #fb6962;
}

.completedSnack {
  text-decoration: line-through;
  color: purple;
}

li {
  border-bottom: 1px solid #ffffff18;

  /* padding: 2px 10px; */
}
