:root {
  --gradient: linear-gradient(135deg, #153677, #4e085f);
  --mkGradient: linear-gradient(135deg, #519ddb, #ff69b4);
  --epcotGradient: linear-gradient(135deg, #d8d8d8, #4682b4);
  --hsGradient: linear-gradient(135deg, #ec506a, #f3cc56);
  --akGradient: linear-gradient(135deg, #228b22, #d6c98e);
}



a {
  padding-top: 5px;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.8);
  text-align: right;
}

p {
  color: #fff;
}


.open {
  color: #04f104;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.closed {
  padding: 2px 5px;
  border-radius: 20px;
  background: red;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.refurbishment {
  font-size: .5em;
  padding: 2px 5px;
  border-radius: 20px;
  background: orange;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.virtualQueue {
display: block;
  font-size: .6em;
  padding: 5px 5px;
  border-radius: 20px;
  background: rgb(24,202,230);
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  white-space: normal;
  line-height: 1.2;
}

.waitRow {
  text-align: center;


}


.waitTimes {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}


th{
  color: hsla(0, 0%, 100%, 0.9);
}

.waitTime {
  /* Adjust the width as needed */
  width: 90px;
}

td {
  border-bottom: 1px solid #ffffff18;
  color: #fff;
  padding: 5px 5px;
}



.bold {
  font-weight: bold;
}




.parkIcons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin: 0px;
  width: 100%;
}

.parkIcon {
  display: block;
  width: 50px;
  height: 50px;
  /* fill: #ffffff80; */
  transition: transform 0.5s ease;
}



.parkName {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
  color: rgba(255, 255, 255, 0.95);
}

/* Initial state for the button */
button {
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for when the paragraph is moved and faded out */
button.active .parkName {
  opacity: 0;
  transform: translateY(20px);
}

.activeSvg {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.fadeOut {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.fixedHeightTable {
  height: 400px;
  width: 330px; /* Set a fixed width for the table container */
  overflow-y: auto; 
}

.scrollableContainer {
  max-height: 400px;
  overflow-y: auto; 
}

.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

