:root {
  --gradient: linear-gradient(135deg, #153677, #4e085f);
  --mkGradient: linear-gradient(135deg, #519ddb, #ff69b4);
  --epcotGradient: linear-gradient(135deg, #d8d8d8, #4682b4);
  --hsGradient: linear-gradient(135deg, #ec506a, #f3cc56);
  --akGradient: linear-gradient(135deg, #228b22, #d6c98e);
}

a {
  padding-top: 5px;
  text-decoration: none;
  color: #fff;
  text-align: right;
}

.open {
  color: #04f104;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.closed {
  color: #ff0000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.waitRow {
  text-align: center;
}

.refreshContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.refreshButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;

  color: #fff;
  cursor: pointer;
}

.refreshButton:active {
  color: #828282;
}

.waitTimes {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #ffffff18;

  padding: 2px 10px;
}

.parkIcons {
  display: flex;
  /* justify-content: space-around; */
  gap: 60px;
  cursor: pointer;
}

.parkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  fill: white;
  transition: transform 0.5s ease;
}
.parkName {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

/* Initial state for the button */
button {
  transition: transform 0.5s ease;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

/* Style for when the paragraph is moved and faded out */
button.active .parkName {
  opacity: 0;
  transform: translateY(20px); /* Adjust as needed */
}

.activeSvg {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.fadeOut {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.parkMK .activeSvg {
  fill: linear-gradient(135deg, #4682b4, #ff69b4);
}
