.accordion {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.accordionTitle {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5em 0em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.accordionTitle:hover {
  background-color: #0056b3;
}

.accordionContentWrapper {
  overflow: hidden; /* Initially hide overflow */
  transition: max-height 0.5s ease; /* Smooth transition for height */
}

.accordionContent {
  height: 100%;
  padding: 1rem;
  /* background-color: black; */
  border-top: 1px solid #ddd;
}


