

.parkIcons {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin: 0 auto;
    gap: 1em;
  }
  
  .parkIcon {
    display: block;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
  }
  
  .parkName {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: rgba(255, 255, 255, 0.95);
    white-space: normal;
  }
  
  button {
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button.active .parkName {
    font-weight: bolder;
  }
  
  button:not(.active) .parkName {
    transform: scale(80%);
    opacity: .8;
  }
  
  .activeSvg {
    transform: scale(1.5);
    transition: transform 0.5s ease;
  }
  
  .fadeOut {
    transition: opacity 0.5s ease, transform 0.5s ease;
  }