:root {
  --gradient: linear-gradient(135deg, #153677, #4e085f);
  --mkGradient: linear-gradient(135deg, #519ddb, #ff69b4);
  --epcotGradient: linear-gradient(135deg, #d8d8d8, #4682b4);
  --hsGradient: linear-gradient(135deg, #ec506a, #f3cc56);
  --akGradient: linear-gradient(135deg, #228b22, #d6c98e);
  --dlpGradient: linear-gradient(135deg, #1c63f1, #8e0cae);
  --wdsGradient: linear-gradient(135deg, #228b22, #d6c98e);
}

a {
  padding-top: 5px;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.8);
  text-align: right;
}

p {
  color: #fff;
}

.open, .closed, .down, .refurbishment, .virtualQueue {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 60px;
  color: #fff;
}

/* Individual background color overrides */
.open {
  background: #2fb52f;
}

.closed {
  background: red;
}

.down {
  background: yellow;
  color: #000;
}

.refurbishment {
  background: orange;
  color: #000;
  font-size: 0.5em;
}

.virtualQueue {
  background: rgb(24,202,230);
  color: #000;
  font-size: 0.6em;
  white-space: normal;
  line-height: 1.2;
}

.waitRow {
  text-align: center;
  animation: slideIn 0.5s forwards;
}

.waitTimes {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

th {
  color: hsla(0, 0%, 100%, 0.9);
}

.waitTime {
  width: 90px;
  
}

td {
  border-bottom: 1px solid #ffffff18;
  color: #fff;
  padding: 5px 5px;
}

.bold {
  font-weight: bold;
}



.fixedHeightTable {
  height: 400px;
  width: 330px;
  overflow-y: auto;
}

.scrollableContainer {
  max-height: 400px;
  overflow-y: auto;
}

.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  /* color: #555; */
  animation: pulse 1.5s infinite;
}

.waitTable {
  width: 100%;
}

.expandedShowtimes {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  animation: fadeIn 0.5s ease-in;
}

.showtime {
  font-weight: bold;
  padding: 5px 0;
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

.waitDropdown {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: color 0.3s ease;
}

.waitDropdown:hover {
  color: #519ddb; /* Change color on hover */
}

.waitDropdown i {
  font-size: 1.2em;
}

.waitDropdownText {
  font-size: 0.5em;
  font-style: italic;
}

.rideNameContainer {
  display: flex;
  align-items: center;
}

.dropdownButton {
  background: none;
  border: none;
  padding-left: 8px;
  vertical-align: middle;
}

.dropdownContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.expanded {
  max-height: 500px; /* Adjust based on content */
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.dateButtonContainer{
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 0px;

}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  overflow: none;
}

.dateButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 15px;
  transition: opacity,font-size 0.5s ease, transform 0.5s ease;
  color: rgba(255, 255, 255, 0.95);
  background-color: #00000011;
  white-space: normal;
  padding: 20px;
  overflow: auto;

}

.dateButtonContainer span {
margin-top: .5em;
margin-bottom: 0;
}

.dateButtonContainer:not(:nth-last-child(1)){
border-right: 1px solid #ffffff18;
}

.dateButtonContainer button.active{
  font-weight: bolder;
  
}

.dateButtonContainer p.active {
  font-weight: bolder;
  }

.dateButtonContainer button:not(.active) {
  /* transform: scale(80%); */
  opacity: .8;
  /* font-size: 10px; */
}

.TimesContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  gap: 0.2rem; /* Gap between grid items */
  /* justify-items: center; */
  margin-top: 1em;
  
}

.themeParkOpeningHours{
 border-bottom: 1px solid #ffffff18;

}


.parkDetails{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
    padding: 5px 5px;
  }


.parkName {
  margin: 0; 
  line-height: 1.2;
  display: flex;
  align-items: center;
  /* height: 3em; */
}

.ParkAndOperating {
display: flex;
flex-direction: column;
justify-content: center;
margin-left: .5em;
}

.entryDescription{
  font-size: .8em;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;

}

.operatingEntryTime{
  font-weight: bold;
  margin: .2em 0 0em 0;
  color: rgba(255, 255, 255);
}

.entryTime{
  font-weight: bold;
  margin: 0 0 0.3em 0;
  color: rgba(255, 255, 255);
}

.expandedHours {
  margin-left: 4em;
}


.operatingClosed {
  font-weight: bold;
  margin: .2em 0 0em 0;
  color: rgba(255, 255, 255);


}


