@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

#root {
  --main-color: #00a9fe;
  --light-color: #f7f7ff;
  --dark-color: #2f3542;
  --gradient: linear-gradient(135deg, #153677, #4e085f);
  --gradientTwo: linear-gradient(135deg, #00fee5, #6f47ae);
  --opaque: #f7f7ffe9;
  max-width: 480px;
}

main {
  background: var(--gradient);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  margin: 0px;
}
